* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --background: oklch(0.145 0 0);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.205 0 0);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.269 0 0);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.922 0 0);
        --primary-foreground: oklch(0.205 0 0);
        --secondary: oklch(0.269 0 0);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.269 0 0);
        --muted-foreground: oklch(0.708 0 0);
        --accent: oklch(0.371 0 0);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.704 0.191 22.216);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.556 0 0);
    }
}

html,
body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: var(--foreground);
    background-color: var(--background);
    font-family: "Inter", sans-serif;
}

::placeholder {
    color: var(--muted-foreground);
}

::selection {
    color: var(--primary-foreground);
    background-color: var(--primary);
}

select {
    appearance: none;
    width: 100%;
    padding: 0.5rem 0.75rem;
    outline: none;
    color: var(--foreground);
    background-color: transparent;
    border-radius: var(--radius);
    border: 1px solid var(--input);
}

label {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 600;
    user-select: none;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    flex-shrink: 0;

    padding: 0.75rem 1rem;

    color: var(--foreground);
    background-color: transparent;

    outline: none;
    border-radius: var(--radius);
    border: 1px solid var(--input);

    font-size: 0.75rem;
    font-weight: 600;

    cursor: pointer;
}

button svg {
    flex-shrink: 0;
    user-select: none;
    pointer-events: none;
}

input:not([type="checkbox"]) {
    display: inline-flex;
    width: 100%;
    height: 2.25rem;

    padding: 0.25rem 0.75rem;

    font-size: 1rem;

    outline: none;
    border-radius: var(--radius);
    border: 1px solid var(--input);
    background-color: transparent;
}

input[type="checkbox"] {
    appearance: none;

    width: 1rem;
    height: 1rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--input);
    padding: 0.15rem;

    background-color: transparent;
    border-radius: 0.25rem;

    cursor: pointer;

    transition: all 0.25s cubic-bezier(0.3, 0.8, 0.5, 1);
}

input[type="checkbox"]::before {
    content: "";

    display: block;
    width: 100%;
    height: 100%;

    background-color: currentColor;

    opacity: 0;
    rotate: 45deg;
    clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 0%, 70% 0%, 70% 100%);
}

input[type="checkbox"]:checked {
    color: var(--primary-foreground);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

input[type="checkbox"]:checked::before {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    select,
    button,
    input[type="checkbox"],
    input:not([type="checkbox"]) {
        background-color: color-mix(in oklab, var(--input), transparent 70%);
    }

    :is(select, button, input:not([type="checkbox"]), input[type="checkbox"]:not(:checked)):hover {
        background-color: color-mix(in oklab, var(--input), transparent 50%);
    }
}

.field {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}

.field-set {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: none;
}

.field-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field-legend {
    margin-bottom: 0.75rem;
    font-weight: 600;
    font-size: 1rem;
}

.field-separator {
    flex-shrink: 0;
    width: 100%;
    border-color: var(--border);
}

.field-description {
    color: var(--muted-foreground);
    line-height: 1;
    font-size: 0.75rem;
    font-weight: normal;
}

.field-errors {
    color: var(--destructive);
    font-size: 0.75rem;
    font-weight: normal;
}

.field-errors ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: 1rem;
}

.container {
    width: 100%;
    max-width: 80ch;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-left: 1px dashed color-mix(in oklab, var(--border), transparent 25%);
    border-right: 1px dashed
        color-mix(in oklab, var(--border), transparent 25%);
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin-bottom: 2rem;
}

.navbar a {
    display: inline-flex;
    text-decoration: none;

    font-weight: 600;
    color: var(--muted-foreground);

    padding: 0.15rem 0;

    border-bottom: 1px solid var(--muted-foreground);
}

.navbar a:hover {
    color: var(--foreground);
    border-color: var(--foreground);
}

.navbar a[data-active="True"] {
    color: var(--foreground);
}

section {
    margin-bottom: 1rem;
}

.header {
    padding: 1rem 0;
}

.prose :is(h2, h3) {
    margin-bottom: 2rem;
}

.prose p {
    text-align: justify;
    margin: 1rem 0;
}

.prose ul {
    list-style: disc;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.prose ul > li {
    margin-top: 0.5rem;
}

.prose a {
    color: inherit;
}

.table {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    position: relative;
}

.table table {
    border: none;
    font-size: 0.75rem;
    caption-side: bottom;
    border-spacing: 0;
    border-collapse: collapse;
}

.table tbody {
    border: none;
}

.table tbody :last-child {
    border: none;
}

.table tr {
    border-bottom: 1px solid var(--border);
    transition: colors 0.25s cubic-bezier(0.3, 0.8, 0.5, 1);
}

.table tr:hover {
    background-color: color-mix(in oklab, var(--muted), transparent 50%);
}

.table th {
    height: 2.5rem;
    padding: 0 0.5rem;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    color: var(--foreground);
}

.table td {
    border: none;
    padding: 0.5rem;
    white-space: nowrap;
    vertical-align: middle;
}

.group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem 0.5rem 1rem;
}
