<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for("static", filename="styles/global.css" ) }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for("static", filename="styles/font.css" ) }}"
        />
        <title>{{ title }}</title>
    </head>

    <body>
        <div class="container">
            <header class="header">
                <h1>{{ title }}</h1>
            </header>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/dataset">Dataset</a>
                <a href="/info">Model Info</a>
                <a href="/preview">Model Preview</a>
            </nav>
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer class="footer">
                <small>© Copyright 2025 yur1freitas</small>
            </footer>
        </div>
    </body>
</html>
