{% extends 'base.j2' %}
{% block content %}
    <section class='prose'>
        <h2>Introdução</h2>
        <p>
            Este é um projeto que consiste em treinar um modelo de classificação
            de transtornos mentais a partir de relatos dos sintomas que o
            paciente possui.
        </p>
    </section>
    <section class='prose'>
        <h2>Dataset</h2>
        <p>
            O dataset utilizado para o treinamento e validação do modelo foi o
            "Mental Disorder Classification", disponível no
            <a
                href='https://www.kaggle.com/datasets/cid007/mental-disorder-classification'
            >Kaggle</a>
            e no site
            <a
                href='https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/0FNET5'
            >Hardvard Dataverse</a>
        </p>
        <p>
            Os dados foram coletados de 120 pacientes diferentes, registrando os
            17 principais sintomas para diagnosticar os seguintes transtornos:
        </p>
        <ul>
            <li>Bipolaridade Tipo-1 (Mania)</li>
            <li>Bipolaridade Tipo-2 (Transtorno Bipolar Depressivo)</li>
            <li>Depressão</li>
        </ul>
        <p>
            Além disso, caso não seja identificado nenhum desses transtornos, o
            paciente é diagnosticado como não tendo nenhum.
        </p>
    </section>
    <section class='prose'>
        <h2>Ferramentas</h2>
        <p>
            Dentre as ferramentas utilizada no desenvolvimento desse projeto
            estão:
            <ul>
                <li>
                    <a href='https://www.python.org/'>Python</a>: linguagem de
                    programação do projeto
                </li>
                <li>
                    <a href='https://flask.palletsprojects.com/en/stable'
                    >Flask</a>: framework web para o desenvolvimento da página
                </li>
                <li>
                    <a href='https://wtforms.readthedocs.io/en/3.2.x/'
                    >WTForms</a>: biblioteca para construção de formulários
                </li>
                <li>
                    <a href='https://scikit-learn.org/stable/index.html'
                    >Scikit-Learn</a>: biblioteca para desenvolvimento do modelo
                    de Machine Learning
                </li>
                <li>
                    <a href='https://pandas.pydata.org'>Pandas</a>: biblioteca
                    para manipulação e análise de dados
                </li>
                {# <li>
        <a href="https://matplotlib.org">Matplotlib</a>: biblioteca para criação
        e visualização de gráficos
      </li> #}
                <li>
                    <a href='https://numpy.org/'>Numpy</a>: biblioteca para
                    manipulação de vetores e matrizes
                </li>
                <li>
                    <a href='https://docs.astral.sh/uv/'>UV</a>: gerenciador de
                    pacotes e projetos ultra rápido
                </li>
                <li>
                    <a href='https://github.com/casey/just'>Just:</a> Apenas um
                    corredor de comando
                </li>
            </ul>
        </p>
    </section>
    <section class='prose'>
        <h2>Membros</h2>
        <p>
            Esse projeto foi criado para um trabalho de faculdade em grupo, onde
            os integrantes são:
            <ul>
                <li>Ana Luíza Moreira</li>
                <li>Isadora Gomes Xisto</li>
                <li>Maria Eduarda Morais</li>
                <li>Ryan Ferreira Coutinho</li>
                <li>Vinícius Duarte Silva</li>
                <li>Yuri Freitas de Oliveira</li>
            </ul>
        </p>
    </section>
{% endblock %}
